/* ===== =====  Poppins Google Font  ===== =====  */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* ===== =====>>  Universal Selector  <<===== =====  */
* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* ===== =====>>  Body Font Size  <<===== =====  */
html {
    font-size: 10px;
}


/* ############# NAVBAR STARTS HERE ############# */

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.474);
}

/* ########### LOGO STYLE HERE ########## */


nav .logo {
    color: var(--pure-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.logo i {
    margin-right: 10px;
}

/* ########## NAVIGATION MENU HERE ############ */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

/* ############ NAVIGATION BUTTON HERE ############ */

.button a {
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid var(--pure-color);
    color: var(--pure-color);
    background-color: transparent;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: 70px;
}

.button a:hover {
    border: 1px solid var(--pure-color);
    color: var(--main-color);
    background-color: var(--pure-color);
}

/* ########## NAVIGATION LINKS HERE ########## */

.nav_link {
    list-style: none;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_link li a {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--pure-color);
}

/* ########### IMAGE NAVIGATION SECTION ######### */

.profileImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImage img {
    width: 60px;
    border-radius: 50%;
    margin-top: 5px;
}

/* ############ NAVIGATION ICONS ########### */

.BarIcons i.fa-bars {
    display: none;
}

.BarIcons i.fa-xmark {
    display: none;
}

/* ########### SEARCH SECTION STARTS ########### */

.search-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.search-box {
    border: 1px solid var(--pure-color);
    padding: 10px 30px;
}

.search-image .search-box input {
    background-color: transparent;
    border: none;
    color: var(--pure-color);
    outline: none;
    width: 70px;
    position: relative;
    font-size: 16px;
}

.search-image .search-box input::placeholder {
    color: var(--pure-color);
}

.search-image .search-box i {
    color: var(--pure-color);
    font-size: 16px;
}


/* ############# NAVIGATION ENDS HERE ############# */


/* ===== =====>> Css Variables  <<===== =====  */
:root {
    /* =====>>  Font Color  <<===== */
    --f1-color: #fff;
    --f2-color: #000;
    --f3-color: rgba(0, 0, 0, 0.8);
    --f4-color: rgba(0, 0, 0, 0.6);
    --f5-color: #d83b3b;
    --f6-color: #d83b3b;

    --main-color: #d83b3b;
    --pure-color: #fff;
    --dark-color: #000;
    --grey-color: #dadada;
    --blue-color: #0d0057;
    /* =====>>  Background Color  <<===== */
    --bg1-color: #fff;
    --bg2-color: #000;
    --bg3-color: #d83b3b;
    --bg4-color: #d83b3b;
    --bg5-color: #d83b3b;
    --bg6-color: rgba(0, 0, 0, 0.4);
    --bg7-color: rgba(0, 0, 0, 0.2);
    --glass-bg: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.3));
    --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);

    /* ===== =====>>  Font Size  <<===== =====  */
    --xxxl-fs: 2.2rem;
    --xxl-fs: 1.8rem;
    --xl-fs: 1.6rem;
    --l-fs: 1.4rem;
    --m-fs: 1.2rem;
    --s-fs: 1.1rem;
    --xs-fs: 1rem;

    /* =====>>  Margin  <<===== */
    --m-2-5: 2.5rem;
    --m-1-8: 1.8rem;
    --m-1-5: 1.5rem;
    --m-0-6: 0.6rem;
    --m-0-5: 0.5rem;
    --m-0-3: 0.3rem;

    /* =====>>  Padding  <<===== */
    --p-2-5: 2.5rem;
    --p-1-5: 1.5rem;
    --p-1-0: 1rem;
    --p-0-8: 0.8rem;
    --p-0-5: 0.5rem;
    --p-0-4: 0.4rem;
    --p-0-3: 0.3rem;
}

/* ===== =====>>  Body Css  <<===== =====  */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


/* ===== =====>>  Main-Container Css  <<===== =====  */
.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "userProfile userDetails"
        "work_skills timeline_about"
        "work_skills timeline_about";
    width: 85%;
    margin-left: 100px;
    height: 90vh;
    margin-top: 100px;
    background: var(--glass-bg);
    padding: var(--p-1-5);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}

/* ===== =====>>  Container Cards Grid-Area Css Start  <<===== =====  */
header {
    grid-area: header;
}

.userProfile {
    grid-area: userProfile;
}

.work_skills {
    grid-area: work_skills;
}

.userDetails {
    grid-area: userDetails;
}

.timeline_about {
    grid-area: timeline_about;
}

/* ===== =====>>  Container Cards Css  <<===== =====  */
.container .card {
    background: var(--glass-bg);
    backdrop-filter: blur(3rem);
    border-radius: 0.5rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    padding: var(--p-1-5);
}

/* ===== =====>>  Container Header/Navbar Css  <<===== =====  */
.container header {
    padding: 0 var(--p-2-5);
}

.container header .brandLogo {
    display: flex;
    align-items: center;
}

.container header .brandLogo figure img {
    width: 3.5rem;
    height: 3.5rem;
}

.container header .brandLogo span {
    font-size: var(--xl-fs);
    font-weight: 700;
    margin-left: var(--m-0-5);
}

/* ===== =====>>  User Main-Profile Css Start  <<===== ===== */
.container .userProfile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
}

.container .userProfile .profile figure img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
}

.work span {
    cursor: pointer;
}

.work a {
    text-decoration: none;
    color: #d83b3b;
}

/* ===== =====>>  Work & Skills Css Start  <<===== ===== */
.container .work_skills {
    padding: var(--p-1-5);
}

.work_skills .work .heading,
.work_skills .skills .heading {
    position: relative;
    font-size: var(--xs-fs);
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    margin-bottom: var(--m-1-5);
}

.work_skills .work .heading::before,
.work_skills .skills .heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.1rem;
    width: 88%;
    background: var(--bg6-color);
}

.work_skills .work .primary,
.work_skills .work .secondary {
    position: relative;
}

.work_skills .work .primary h1,
.work_skills .work .secondary h1 {
    font-size: var(--l-fs);
    color: var(--f3-color);
    margin-bottom: var(--m-0-6);
}

.work_skills .work .primary span,
.work_skills .work .secondary span {
    position: absolute;
    top: 0;
    right: 3rem;
    font-weight: 700;
    font-size: var(--s-fs);
    color: var(--f5-color);
    background: #ffe6e6;
    padding: var(--p-0-4) var(--p-1-0);
    border-radius: 0.4rem;
}

.work_skills .work .primary p,
.work_skills .work .secondary p {
    margin-bottom: var(--m-1-8);
    font-size: var(--m-fs);
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.6rem;
}

/* =====>>  Skills Bars Css  <<===== */
.work_skills .skills ul li {
    position: relative;
    font-size: var(--m-fs);
    line-height: 1.8rem;
    margin: var(--m-0-5);
    color: var(--f2-color);
    font-weight: 500;
}

.work_skills .skills ul li::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 0.2rem;
    background: var(--bg3-color);
    animation: skills 8s linear infinite;
    animation-delay: calc(-2s * var(--i));
}

@keyframes skills {
    0% {
        width: 50%;
        filter: hue-rotate(180deg);
    }

    50% {
        width: 0;
    }

    100% {
        width: 50%;
        filter: hue-rotate(0);
    }
}

/* ===== =====>>  User Details Css Start  <<===== ===== */
.userDetails {
    position: relative;
    padding: var(--p-1-5) var(--p-2-5);
    height: 100px;
}

.userDetails .userName h1 {
    font-size: var(--xxxl-fs);
}

.userDetails .userName .map {
    position: absolute;
    top: 2.5rem;
    left: 18.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetails .userName .map .ri {
    margin-right: var(--m-0-3);
    font-size: var(--m-fs);
}

.userDetails .userName .map span {
    font-size: var(--s-fs);
    color: var(--f3-color);
    font-weight: 700;
}

.userDetails .userName p {
    font-size: var(--m-fs);
    font-weight: 700;
    color: var(--f5-color);
    margin-bottom: var(--m-1-8);
}

.userDetails .rank {
    position: relative;
    margin-bottom: var(--m-1-8);
}

.userDetails .rank .heading {
    font-size: var(--xs-fs);
    color: var(--f4-color);
    text-transform: uppercase;
    margin-bottom: var(--m-0-6);
}

.userDetails .rank span {
    font-size: var(--xxl-fs);
    font-weight: 700;
}

.userDetails .rank .rating {
    position: absolute;
    top: 2.7rem;
    left: 3.5rem;
}

.userDetails .rank .rating .rate {
    color: var(--f5-color);
    font-size: var(--l-fs);
}

.userDetails .rank .rating .underrate {
    color: var(--f6-color);
}

.userDetails .btns ul,
.userDetails .btns ul li {
    display: flex;
    align-items: center;
}

.userDetails .btns ul li {
    margin-right: var(--m-2-5);
    border-radius: 0.5rem;
}

.userDetails .btns ul li .ri {
    margin-right: var(--m-0-5);
    font-size: var(--xl-fs);
}

.userDetails .btns ul li a {
    font-size: var(--l-fs);
    color: var(--f2-color);
    font-weight: 500;
}

.userDetails .btns ul .active {
    background: #ffe6e6;
    padding: var(--p-0-5) var(--p-1-5);
}

.userDetails .btns ul .active a,
.userDetails .btns ul .active .ri {
    color: var(--f5-color);
}

/* ===== =====>>  Timeline & About Css Start  <<===== ===== */
.timeline_about {
    padding: var(--p-2-5);
    height: 430px;
    margin-top: -50px;
}

.timeline_about .tabs ul {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: var(--m-2-5);
}

.timeline_about .tabs ul::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--bg7-color);
}

.timeline_about .tabs ul li {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: var(--m-2-5);
    padding-bottom: var(--p-0-8);
    cursor: pointer;
}

.timeline_about .tabs ul li span {
    font-size: var(--l-fs);
    font-weight: 500;
}

.timeline_about .tabs ul li .ri {
    margin-right: var(--m-0-5);
}

.timeline_about .tabs ul .active::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--bg5-color);
}

.timeline_about .contact_info .heading,
.timeline_about .basic_info .heading {
    font-size: var(--xs-fs);
    color: var(--f4-color);
    text-transform: uppercase;
    margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul,
.timeline_about .basic_info ul {
    margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li {
    display: flex;
    margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li h1,
.timeline_about .basic_info ul li h1 {
    font-weight: 500;
    font-size: var(--m-fs);
    min-width: 12rem;
}

.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span {
    font-size: var(--m-fs);
}

.timeline_about .contact_info ul .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span {
    color: var(--f5-color);
}

/* ############### PARTNERS SECTION STARTS ############# */

.partners {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
}

.partners .partners-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners .partners-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.partners .partners-1 img {
    width: 200px;
    margin-right: 20px;
}

.partners .partners-2 img {
    width: 160px;
    margin-right: 20px;
}

/* ############### PARTNERS SECTION ENDS ############# */

/* ############### FOOTER SECTION STARTS HERE ################ */

footer {
    background-color: var(--main-color);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--pure-color);
    padding-top: 20px;
}

.col-1 {
    font-size: 18px;
}

.col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.col-1 .icons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-1 .icons i {
    font-size: 40px;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 30px;
    flex-wrap: wrap;
}

.col-2 .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-bottom {
    margin-top: 20px;
    height: 45px;
    background-color: var(--pure-color);
    width: 100%;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ############### FOOTER SECTION ENDS HERE ################ */